POSTHOG_PROJECT_TOKEN=
POSTHOG_HOST=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.2
OPENAI_REASONING_EFFORT=low

ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
ADMOB_ANDROID_REWARDED_AD_UNIT_ID=
ADMOB_IOS_REWARDED_AD_UNIT_ID=
ADMOB_ANDROID_TEST_REWARDED_AD_UNIT_ID=
ADMOB_IOS_TEST_REWARDED_AD_UNIT_ID=
ADMOB_ANDROID_INTERSTITIAL_AD_UNIT_ID=
ADMOB_IOS_INTERSTITIAL_AD_UNIT_ID=
ADMOB_ANDROID_TEST_INTERSTITIAL_AD_UNIT_ID=
ADMOB_IOS_TEST_INTERSTITIAL_AD_UNIT_ID=

REVENUECAT_ANDROID_API_KEY=
REVENUECAT_IOS_API_KEY=
REVENUECAT_ENTITLEMENT_ID=whoiam_premium_id
REVENUECAT_OFFERING_ID=offering_default_id
REVENUECAT_CONSUMABLE_PACKAGE_ID=pass24h_id
REVENUECAT_CONSUMABLE_PRODUCT_ID=Consumable_24hours
REVENUECAT_LIFETIME_PACKAGE_ID=lifetime_id
REVENUECAT_LIFETIME_PRODUCT_ID=Lifetime
